#rangeSelector {
    position: absolute;
    top: 30px;
    left: 10%;
    border: 1px solid grey;
    width: 80%;
    height: 120px;
}

#rangeSelector span {
    background-color: whitesmoke;
}

#calculator {
    position: absolute;
    top: 160px;
    left: 10%;
    border: 1px red;
}
